/bin/
/project/target
/project/project
/target/

.project
.classpath
.settings
.idea
*.iml
/*.bsp/

/test_run_dir/

# Visual Studio Code
.bloop/
.metals/
.vscode/

# Generated code
Coverage_rfuzz.json
Coverage_tlul.json
input
log
out/
out_TLUL/
out_rfuzz/
seeds/
*/__pycache__/
venv/

